<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2c076529-c294-4c4f-84df-07fbc8e11e0f/resourceGroups/group4/providers/Microsoft.Web/sites/cursus-api</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cursus-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ec417ae7-ca81-4177-bd3e-83011a8be995</ProjectGuid>
    <PublishUrl>https://cursus-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cursus-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>